<div class="container">
  <div class="row">
  
    <h1>User view</h1>
    

      <div class="col-md-8">
      <div class="well">
        <ul class="list-unstyled">

          <h1><%= @user.name %></h1>
          <br>
          
          <h3><%= @user.email %></h3>
          <br>


          <li><%= link_to 'Edit Profile', edit_user_path(current_user) %></li>

          
         
        </ul>
      </div>
      </div>


  
    
  
        
      
